#root {
  height: 100vh;
  width: 100%;
  margin: 0px;
}

body {
  margin: 0px;
}

@font-face {
  font-family: "LamaSans";
  src: url("../fonts/LamaSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "LamaSans";
  src: url("../fonts/LamaSans-SemiBold.ttf");
  font-weight: bold;
}

#about {
  /* background-color: #333333; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#h-ab {
  color: #333333;
}
#p-ab {
  color: #333333;
  text-align: center;
  font-size: larger;
  font-weight: normal;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
